@model LeCan.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div id="login-body">
    <div id="placeholder"><img /></div>
    <div id="login-regis-form">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
        </ul>
        <form class="form-horizontal" role="form" action=@Url.Content("~/account/login") method="post">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
