@{
    ViewBag.Title = "Home Page";
}
@section featured {

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1 class="text-center">欢迎来到乐餐网。</h1>
                <h2 class="text-center">轻松外卖，快乐就餐，就在乐餐网！</h2>
            </hgroup>
        </div>
    </section>
}

@section scripts{
    }